.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    margin-left: 36px;

}

.main-nav a:hover {
    color: orange;
}

.main-nav button {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    margin-left: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.main-nav button:hover {
    color: orange;
}

.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.userProfile{
   margin-left: 40px;

}